<div class="container-fluid">
    <div class="row">
        <ul  class="list-group list-group-size" style="width:200px">
            <% users.each do |u|%>
                <li class="list-group-item list-group-item-success" ><%=link_to u.email,"homes/savemessage" ,id: dom_id(u),controller: "users",action: "index",remote: true,method: :get %></li>
            <%end%>
        </ul>
    </div>
</div>
<script>
    console.log("asdsadafasd");
    $(document).ready(function(event){
        $(".list-group").click(function(e){
            
            alert("clicked"+e.target.id);      
        })
        
        });
    

</script>